<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleafextrasspringsecurity4">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous">

	<!-- ログアウト時ポップアップ表示 -->
	function alert(){
		let result = confirm('ログアウトしますか？');
		if(result){
	  		console.log('ログアウトしました');
	  		return result
		}else{
	  		console.log('ログアウトをとりやめました');
	  		return result
		}
	}	
</script>
<meta charset="utf-8" />
</head>
<body>
	<!-- Header -->
	<header class="sticky-top" th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/admin">SakelaboTokyo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="/admin">ホーム
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" href="/part">ホーム
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> メニュー </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">日本酒</a>
							<a class="dropdown-item" href="/menu/list">料理</a>
							<a class="dropdown-item" href="#">接客マニュアル</a>
							<a class="dropdown-item" href="#">電話対応</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<a class="nav-link text-white" th:text="'ユーザー：' + ${#authentication.name}"></a>
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" name="logout" method="post">
					<a class="text-white" href="javascript:logout.submit()">ログアウト</a>
				</form>
				<br>
			</div>
		</nav>
	</header>
	
	<!-- Footer -->
	<footer class="text-center text-white fixed-bottom" style="background-color: #0a4275;" th:fragment="footer">
		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright: <a class="text-white"
			href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>
</body>