<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>日本酒メニューアップロード画面</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<div th:replace="common/layout:: header"></div>
    
    <div class="container mt-4 mb-4 text-center">
     	<h2 class="text-center mt-4 mb-4">日本酒メニュー編集</h2>
     	
     	<!-- アップロードが成功した場合 -->
     	<label class="text-primary" th:if="${result eq ('OK')}" th:text="${message}"></label><br>
		<!-- アップロードが失敗した場合 -->
		<label class="text-danger" th:if="${result eq ('NG')}" th:text="${message}"></label><br>
		
		<a href="/images/sake/sakeMenu.jpg" target="_blank" rel="noreferrer noopener">現在の日本酒メニュー画像を確認する</a>
		
        <!-- /* 「enctype="multipart/form-data"」でアップロードファイルをコントローラークラスに渡す */ -->
        <form th:action="@{/admin/sake/upload}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
            <div class="text-danger">
            	<p>ファイル名は<strong>sakeMenu</strong>に編集してアップロードして下さい！</p>
            	<p>例）sakeMenu.jgp, sakeMenu.png</p>
            </div>
            <div class="mt-2 mb-2">
                <input type="file" th:field="*{multipartFile}" accept="image/*">
            </div>
            <!-- 現在アップロードされている画像を表示 ※画像の更新がタイムリーでないため、考慮が必要 -->
            <!-- <img class="img-thumbnail" width="300" height="300" th:src="@{/images/sake/sakeMenu.jpg}"> -->
            <div class="mt-2 mb-2">
                <input class="btn btn-primary btn-lg" type="submit" value="アップロード">
            </div>
        </form>
        <div class="text-center mt-4 mb-4">
        	<a class="btn btn-success btn-lg" href="/admin" role="button">ホーム画面へ戻る</a>
        </div>
    </div>
 
    <div th:replace="common/layout :: footer"></div>
    
</body>
</html>