<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>ユーザー情報編集画面</title>
	<script>
		function alert(){
			let result = confirm('削除しますか？');
			if(result){
		  		console.log('削除しました');
		  		return result
			}else{
		  		console.log('削除をとりやめました');
		  		return result
			}
		}
	</script>	
</head>
<body>
	<div th:replace="common/layout :: header"></div>
	
	<div class="container mb-5">
    	<h1 class="text-center mt-4 mb-4">ユーザー情報一覧</h1>
    	<a th:href="@{/user/signup}" class="btn btn-success mt-2 mb-2">新規登録はこちら</a>
    	<table class="table table-striped">
      		<thead>
        		<tr>
          			<th>名前</th>
          			<th>権限</th>
          			<th>編集</th>
          			<th>削除</th>
        		</tr>
      		</thead>
      		<tbody>
	        	<tr th:each="user : ${userlist}" th:object="${user}" class="align-middle">
			        <td th:text="*{name}"></td>
	          		<td th:text="*{authority.equals('ROLE_ADMIN')} ? 社員 : アルバイト"></td>
	          		<td><a th:href="@{/user/edit/{id}(id=*{id})}" class="btn btn-primary">編集</a></td>
	          		<td><a th:href="@{/user/delete/{id}(id=*{id})}" class="btn btn-danger" onClick="return alert()">削除</a></td>
	        	</tr>
      		</tbody>
    	</table>
    	<div class="text-center mt-4 mb-5">
    		<a href="/admin" class="btn btn-primary mb-4">ホーム画面に戻る</a>
    	</div>
  	</div>
  
  	<div th:replace="common/layout :: footer"></div>
</body>
</html>