<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>パスワード変更完了画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h1 class="mt-4 mb-4" style="text-align: center;">パスワード変更完了</h1>
	<div class="center-block" style="text-align: center;">
		<a class="btn btn-success mt-4 mb-4" href="/" role="button">ログイン画面へ戻る</a>
    </div>
</div>
</body>
</html>