<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>パスワード再設定画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
	<div class="container text-center">
	    <h2 class="heading mt-4 mb-4 text-center">パスワード再設定</h2>

	    <!-- エラーが発生した場合、エラーメッセージ出力 -->
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<div th:if="${passwordResetError}">
			<label class="text-danger" th:text="${passwordResetError}"></label>
		</div>

	    <form class="form-password-reset" method="post" th:action="@{/passwordReset}" th:object="${passwordResetForm}">
	        <div class="form-group">
	        	<div class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="${passwordResetForm.userName}"></div>
	        	<input type="text" id="userName" name="userName" class="form-control" th:value="${passwordResetForm.userName}" placeholder="ユーザー名" autofocus><br>
	        </div>
	        <div class="form-group">
	        	<div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="${passwordResetForm.password}"></div>
	        	<input type="password" id="password" name="password" class="form-control" th:value="${passwordResetForm.password}" placeholder="パスワード"><br>
	        </div>
	        <div class="form-group">
		        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="${passwordResetForm.password}"></div>
	    	    <input type="password" id="passwordConf" name="passwordConf" class="form-control" th:value="${passwordResetForm.passwordConf}" placeholder="確認用パスワード"><br>
	        </div>
	        <button class="btn btn-lg btn-success btn-block mb-4" type="submit">変更</button>
	    </form>
	</div>
</body>
</html>