<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>ユーザー情報更新完了画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<h1 style="text-align: center;">ユーザー情報更新成功</h1>
	<h3 th:text="更新ユーザー名： + ${updateUser.name}" style="text-align: center;"></h3>
	<h3 th:text="権限： + ${updateUser.authority}" style="text-align: center;"></h3>
	<a th:href="@{/user/list}" class="btn btn-secondary">一覧に戻る</a>
	<div class="center-block" style="text-align: center;">
    	<a class="btn btn-lg btn-success" href="/admin" role="button">ホーム画面へ戻る</a>
    </div>
</body>
</html>