<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>メニュー情報削除完了画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<h2 style="text-align: center;">メニュー情報を削除しました</h1>
	<div class="text-center">
		<a  class="btn btn-secondary" th:href="@{/menu/list}">一覧に戻る</a>
		<a class="btn btn-success" href="/admin" role="button">ホーム画面へ戻る</a>
	</div>
</body>
</html>