<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleafextrasspringsecurity4">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>メニュー編集画面</title>
	<script>
		function alert(){
			let result = confirm('削除しますか？');
			if(result){
		  		console.log('削除しました');
		  		return result
			}else{
		  		console.log('削除をとりやめました');
		  		return result
			}
		}
	</script>	
</head>
<body>
	<div th:replace="common/layout:: header"></div>
	<div class="container">
    	<h1 class="text-center mt-2 mb-2">料理メニュー一覧</h1>
    	<div class="float-end"></div>
    	<a th:href="@{/menu/signup}" class="btn btn-success mt-2 mb-2" sec:authorize="hasRole('ROLE_ADMIN')">新規登録はこちら</a>
    	<table class="table table-striped">
      		<thead>
        		<tr>
	          		<th>メニュー名</th>
	          		<th>メニュー詳細</th>
	          		<th>価格</th>
	          		<th>おすすめペアリング</th>
	          		<th sec:authorize="hasRole('ROLE_ADMIN')">編集</th>
	          		<th sec:authorize="hasRole('ROLE_ADMIN')">削除</th>
	        	</tr>
	      	</thead>
	      	<tbody>
	        	<tr th:each="menu : ${menulist}" th:object="${menu}" class="align-middle">
		          	<td th:text="*{menu_nm}"></td>
		          	<td th:text="*{menu_dtl}"></td>
		          	<td th:text="*{price}"></td>
		          	<td>日本酒名</td>
	          		<td><a th:href="@{/menu/edit/{id}(id=*{menu_id})}" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">編集</a></td>
	          		<td><a th:href="@{/menu/delete/{id}(id=*{menu_id})}" class="btn btn-danger" onClick="return alert()" sec:authorize="hasRole('ROLE_ADMIN')">削除</a></td>
	        	</tr>
	      	</tbody>
	    </table>
    	<div class="text-center">
    		<a href="/admin" class="btn btn-primary mb-4"  sec:authorize="hasRole('ROLE_ADMIN')">ホーム画面に戻る</a>
    		<a href="/part" class="btn btn-primary mb-4"  sec:authorize="hasRole('ROLE_USER')">ホーム画面に戻る</a>
    	</div>
  	</div>
	<div th:replace="common/layout :: footer"></div>
</body>
</html>