<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<title>メニュー編集画面</title>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	<script>
	function alert(){
		let result = confirm('削除しますか？');
		if(result){
	  		console.log('削除しました');
	  		return result
		}else{
	  		console.log('削除をとりやめました');
	  		return result
		}
	}
	</script>	
</head>
<body>
	<div class="container">
    <h1 class="text-center">料理メニュー一覧</h1>
    <div class="float-end">
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>メニュー名</th>
          <th>メニュー詳細</th>
          <th>価格</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="menu : ${menulist}" th:object="${menu}" class="align-middle">
          <td th:text="*{menu_nm}"></td>
          <td th:text="*{menu_dtl}"></td>
          <td th:text="*{price}"></td>
          <td><a th:href="@{/menu/edit/{id}(id=*{menu_id})}" class="btn btn-primary">編集</a></td>
          <td><a th:href="@{/menu/delete/{id}(id=*{menu_id})}" class="btn btn-danger" onClick="return alert()">削除</a></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
    	<a th:href="@{/menu/signup}" class="btn btn-success">新規登録はこちら</a>
    	<a href="/admin" class="btn btn-primary">ホーム画面に戻る</a>
    </div>
  </div>
</body>
</html>