<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>メニュー新規登録画面</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="common/layout:: header"></div>
	<div class="container mt-4 mb-4">
		<h1 class="text-center">料理メニュー新規登録</h1>
		
		<!-- エラーが発生した場合、エラーメッセージ出力 -->
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		
		<form th:action="@{/menu/signup}" th:method="post" th:object="${menu}">
			<div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">
						メニュー名<span class="text-danger">※</span>
					</div>
					<div class="col py-2 border">
						<input type="text" class="form-control" name="menu_nm"  th:field="*{menu_nm}">
					</div>
				</div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">
						メニュー内容詳細<span class="text-danger">※</span>
					</div>
					<div class="col py-2 border">
						<textarea class="form-control" id="menu_dtl" rows="3" name="menu_dtl" th:field="*{menu_dtl}"></textarea>
					</div>
				</div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">
						価格<span class="text-danger">※</span>
					</div>
					<div class="col py-2 border">
						<input type="number" class="form-control" name="price" th:field="*{price}">
					</div>
				</div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">
						メニュー区分<span class="text-danger">※</span>
					</div>
					<div class="col py-2 border">
						<div class="form-check col">
							<input class="form-check-input" type="radio" name="genre" id="genre1" value="1" checked>
						  	<label class="form-check-label" for="genreRadios1">【汁】</label>
						</div>
						<div class="form-check col">
							<input class="form-check-input" type="radio" name="genre" id="genre2" value="2">
							<label class="form-check-label" for="genreRadios2">【刺】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre3" value="3">
						  	<label class="form-check-label" for="genreRadios3">【供】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre4" value="4">
						  	<label class="form-check-label" for="genreRadios4">【出汁】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre5" value="5">
						  	<label class="form-check-label" for="genreRadios5">【焼】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre6" value="6">
						  	<label class="form-check-label" for="genreRadios6">【揚】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre7" value="7">
						  	<label class="form-check-label" for="genreRadios7">【煮】</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input" type="radio" name="genre" id="genre8" value="8">
						  	<label class="form-check-label" for="genreRadios8">【〆】</label>
						</div>
					</div>
				</div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">備考</div>
					<div class="col py-2 border">
						<textarea class="form-control" id="note" rows="3" name=note th:field="*{note}"></textarea>
					</div>
				</div>
				<div class="row mx-md-n5">
					<div class="col-2 pt-3 border bg-light">
						対象コース
					</div>
					<div class="col py-2 border">
						<div class="form-check col">
						  	<input class="form-check-input disabled" type="checkbox" value="" id="flexCheckDefault">
						  	<label class="form-check-label" for="flexCheckDefault">
						    4品コース
						  	</label>
						</div>
						<div class="form-check col">
						 	<input class="form-check-input disabled" type="checkbox" value="" id="flexCheckChecked">
						  	<label class="form-check-label" for="flexCheckChecked">
						    6品コース
						  	</label>
						</div>
						<div class="form-check col">
						  	<input class="form-check-input disabled" type="checkbox" value="" id="flexCheckDefault">
						  	<label class="form-check-label" for="flexCheckDefault">
						    8品コース
						  	</label>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="text-center">
				<input type="submit" class="btn btn-primary" value="　保存　">
				<a th:href="@{/menu/list}" class="btn btn-secondary">一覧に戻る</a>
				<a class="btn btn-success" href="/admin" role="button">ホーム画面へ戻る</a>
			</div>
		</form>
	</div>
	<div th:replace="common/layout :: footer"></div>
</body>
</html>