<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>SakelaboTokyo Top</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>	
</head>
<body class="mb-6">
	<div th:replace="common/layout:: header"></div>
  	<h1 class="mt-4 mb-2 text-center">【社員のホーム画面】</h1>
  	<h2 class="mt-4 mb-2 text-center" th:text="'こんにちは 、' + ${#authentication.name}  + ' さん'"></h2>
  	
  	<!-- お知らせ機能 -->
	<div class="container">
		<div class="bg-light p-3 p-sm-5 my-4 rounded" style="color:">
			<h2 class="display-6">お知らせ</h2>
			<hr class="my-4">
			<div class="alert alert-danger" role="alert">
				<ul th:each="topInformation : ${topInformationList}" th:object="${topInformation}" class="align-middle">
					<li>
						<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:if="*{upd_date != null}" th:text="|*{#temporals.format(upd_date,'yyyy/MM/dd HH:mm')}　　*{title}|"></a>
	    				<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:unless="*{upd_date != null}" th:text="|*{#temporals.format(ins_date,'yyyy/MM/dd HH:mm')}　　*{title}|"></a>
	    			</li>
	    		</ul>
			</div>
	    	
	  	</div>
	</div>
	
	<div class="container mt-4">
		<div class="container">
			<div class="card-deck mb-3 text-center">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">料理メニュー</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">料理の単品メニューを確認</p>
						<button type="button" class="btn btn-lg btn-primary mt-auto mb-2" onclick="location.href='/menu/list'">メニュー一覧</button>
					</div>
				</div>
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">コース一覧</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">4品・6品・8品のコースを確認</p>
						<button type="button" class="btn btn-lg btn-block btn-success mt-auto mb-2" onclick="location.href='/corse/list'">コース一覧</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="card-deck mb-3 text-center">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">ユーザー情報編集</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">社員やアルバイトの情報を編集</p>
						<button type="button" class="btn btn-lg btn-block btn-success mt-auto mb-2"  onclick="location.href='/user/list'">ユーザー一覧へ</button>
					</div>
				</div>
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">各種マニュアル編集</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">業務・電話対応・会計時の各種マニュアルを編集</p>
						<button type="button" class="btn btn-lg btn-block btn-warning mt-auto mb-2" onclick="location.href='/admin/workManual/upload'">各種マニュアル編集</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="card-deck mb-3 text-center">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">日本酒メニュー編集</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">本日の日本酒メニューを編集する</p>
						<button type="button" class="btn btn-lg btn-block btn-primary mt-auto mb-2" onclick="location.href='/admin/sake/upload'">日本酒メニュー編集</button>
					</div>
				</div>
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">お知らせ編集</h4>
					</div>
					<div class="card-body d-flex flex-column">
						<p class="card-title pricing-card-title">社員・従業員へのお知らせを投稿、または編集</p>
						<button type="button" class="btn btn-lg btn-block btn-danger mt-auto mb-2" onclick="location.href='/information/list'">お知らせ編集</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/layout :: footer"></div>
</body>
</html>	