<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>SakelaboTokyo Top</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>	
</head>
<body class="pb-5 mb-4" >
	<div th:replace="common/layout:: header"></div>
  	<h1 class="mt-4 mb-2 text-center">【社員のホーム画面】</h1>
  	
  	<!-- お知らせ機能 -->
	<div class="container">
		<div class="bg-light p-3 p-sm-5 my-4 rounded">
			<h2 class="display-6">Information</h2>
			<hr class="my-4">
<!--			<div class="alert alert-danger" role="alert">-->
				<ul th:each="topInformation : ${topInformationList}" th:object="${topInformation}" class="align-middle">
					<li>
						<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:if="*{upd_date != null}" th:text="|*{#temporals.format(upd_date,'yyyy.MM.dd HH:mm')}　　*{title}|"></a>
	    				<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:unless="*{upd_date != null}" th:text="|*{#temporals.format(ins_date,'yyyy.MM.dd HH:mm')}　　*{title}|"></a>
	    			</li>
	    		</ul>
<!--			</div>-->
	  	</div>
	</div>

	
	<div class="container mt-4">
		<div class="container">
			<div class="card-deck mb-3 text-center">
				<div class="card" style="width: 18rem;">
  					<img src="/images/food/food2.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～単品料理メニュー確認～</h5>
    					<p class="card-text">単品料理のメニューを確認する。<br>アラカルトのメニューを覚えよう！</p>
    					<a href="/menu/list" class="btn btn-primary">Check</a>
  					</div>
				</div>
				<div class="card" style="width: 18rem;">
  					<img src="/images/food/food.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～コース料理メニュー確認～</h5>
    					<p class="card-text">コース料理のメニューを確認する。<br>4品・6品・8品の各コースを確認</p>
    					<a href="#" class="btn btn-primary">Check</a>
  					</div>
				</div>
				<div class="card" style="width: 18rem;">
  					<img src="/images/sake/sake.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～日本酒メニュー確認～</h5>
    					<p class="card-text">日本酒メニューを確認する。<br>日本酒は日替わりのため、要チェック！</p>
    					<a class="btn btn-primary" href="/images/sake/sakeMenu.jpg" target="_blank" rel="noreferrer noopener">Check</a>
  					</div>
				</div>
			</div>
		</div>
		
		<div class="container mt-4">
			<div class="card-deck mb-3 text-center">
				<div class="card" style="width: 18rem;">
  					<img src="/images/work/work.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～ユーザー情報編集～</h5>
    					<p class="card-text">社員・アルバイトの一覧を表示。<br>追加・編集・削除を行う。</p>
    					<a href="/user/list" class="btn btn-primary">Check</a>
  					</div>
				</div>
				<div class="card" style="width: 18rem;">
  					<img src="/images/work/work2.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～各種マニュアル編集～</h5>
    					<p class="card-text">業務・電話対応・会計の各種マニュアル。<br>追加・編集・削除を行う。</p>
    					<a href="/admin/workManual/upload" class="btn btn-primary">Check</a>
  					</div>
				</div>
				<div class="card" style="width: 18rem;">
  					<img src="/images/work/work3.jpg" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">～お知らせ編集～</h5>
    					<p class="card-text">社員・従業員へのお知らせ<br>追加・編集・削除を行う。</p>
    					<a href="/information/list" class="btn btn-primary">Check</a>
  					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/layout :: footer"></div>
</body>
</html>	