<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>SakelaboTokyo Top</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>	
</head>
<body class="mb-6">
	<div th:replace="common/layout:: header"></div>
  	<h1 class="mt-4 mb-2 text-center">アルバイトのホーム画面</h1>
  	<h2 class="mt-4 mb-2 text-center" th:text="'こんにちは ' + ${#authentication.name}  + ' さん'"></h2>
  	
  	<!-- お知らせ機能 -->
	<div class="container">
		<div class="bg-light p-3 p-sm-5 my-4 rounded" style="color:">
			<h2 class="display-6">お知らせ</h2>
			<hr class="my-4">
			<div class="alert alert-danger" role="alert">
				<ul th:each="topInformation : ${topInformationList}" th:object="${topInformation}" class="align-middle">
					<li>
						<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:if="*{upd_date != null}" th:text="|*{#temporals.format(upd_date,'yyyy/MM/dd HH:mm')}　　*{title}|"></a>
	    				<a th:href="@{/information/detail/{id}(id=*{information_id})}" th:unless="*{upd_date != null}" th:text="|*{#temporals.format(ins_date,'yyyy/MM/dd HH:mm')}　　*{title}|"></a>
	    			</li>
	    		</ul>
			</div>
	    	
	  	</div>
	</div>
		
	<div class="container">
		<h1 class="text-center mt-4 mb-4">各種メニュー閲覧</h1>
		
		<!-- cardを使用するか検討中 -->
		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">料理メニュー</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">料理の単品メニューを確認</p>
					<button type="button" class="btn btn-lg btn-block btn-primary mt-auto mb-2" onclick="location.href='/menu/list'">料理メニュー一覧</button>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">日本酒メニュー</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">本日の日本酒一覧を確認</p>
					<button type="button" class="btn btn-lg btn-block btn-danger mt-auto"  onclick="location.href='/sake/list'">日本酒メニュー一覧</button>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">コース一覧</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">4品・6品・8品のコースを確認</p>
					<button type="button" class="btn btn-lg btn-block btn-success mt-auto" onclick="location.href='corse/list'">コース一覧</button>
				</div>
			</div>
		</div>
		
		<h1 class="text-center mt-4 mb-4">各種マニュアル</h1>
		
		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">電話対応マニュアル</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">電話対応時の基本的な対応とお客様へのご案内方法を確認</p>
					<a type="button" class="btn btn-lg btn-block btn-primary mt-auto mb-2" href="/images/manual/telephoneManual.pdf" target="_blank" rel="noreferrer noopener">マニュアルを確認する</a>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">業務マニュアル</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">基本的な業務の流れと出勤時の注意事項などを確認</p>
					<a type="button" class="btn btn-lg btn-block btn-primary mt-auto mb-2" href="/images/manual/workManual.pdf" target="_blank" rel="noreferrer noopener">マニュアルを確認する</a>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">お会計マニュアル</h4>
				</div>
				<div class="card-body d-flex flex-column">
					<p class="card-title pricing-card-title">お会計時の一連の流れと注意事項を確認</p>
					<a type="button" class="btn btn-lg btn-block btn-primary mt-auto mb-2" href="/images/manual/billManual.pdf" target="_blank" rel="noreferrer noopener">マニュアルを確認する</a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/layout :: footer"></div>
</body>
</html>	