<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>ユーザー登録</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h2 class="heading" style="text-align: center;">ユーザー登録</h2>
    <form class="form-signin" method="post" th:action="@{/signup}" th:object="${signupForm}">
        <div th:if="${signupError}">
            <div class="text-danger" th:text="${signupError}"></div>
        </div>
        <div class="form-group">
        	<!-- <label for="username">ユーザー名</label> -->
        	<div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="${signupForm.username}"></div>
        	<input type="text" id="username" name="username" class="form-control" th:value="${signupForm.username}" placeholder="ユーザー名" autofocus><br>
        </div>
        <div class="form-group">
	        <!-- <label for="password">パスワード</label> -->
	        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="${signupForm.password}"></div>
    	    <input type="password" id="password" name="password" class="form-control" th:value="${signupForm.password}" placeholder="パスワード"><br>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
    </form><br>
    <div class="center-block" style="text-align: center;">
    	<a class="btn btn-lg btn-success" href="/admin" role="button">ホーム画面へ戻る</a>
    </div>
</div>
</body>
</html>